.text-field {
	background-color: rgb(50, 50, 50, 0.8);
    -fx-background-color: rgb(50, 50, 50, 0.8);
	-fx-text-fill: white;
}

.scroll-pane > .viewport {
	background-color: transparent;
	-fx-background-color: transparent;
}

.scroll-pane {
	background-color: transparent;
	-fx-background-color: transparent;
}

.scroll-bar .thumb{
	background-color: rgb(50, 50, 50);
	border-radius: 10;
    -fx-background-color: rgb(50, 50, 50);
	-fx-border-radius: 10;
}

.scroll-bar .increment-button {
	visibility: hidden;
}

.scroll-bar .decrement-button {
	visibility: hidden;
}

.scroll-bar:vertical {
	background-color: transparent;
	-fx-background-color: transparent;
}
